<template name="CreateTables">
    <div id="create-tables">

        <div class="container-fluid">
            <div class="row">

                <div class="col col-md-6 margin-auto">
                    <div class="container-form">
                        <h1>Upload a table</h1>
                        <div class="loadGS">


                            <br/>
                            <a href="#" class="btn
                                {{#if  t2dIsLoaded}}
                                    delete_T2D_tables btn-outline-danger
                                {{else}}
                                        load_T2D_tables btn-outline-primary
                                {{/if}}">
                                {{#if t2dIsLoaded}}Delete{{else}}Load{{/if}} T2D Gold Standard tables
                                {{#if isLoadingGS 'T2D'}}
                                    <div class="loading">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                {{/if}}
                            </a>

                            or

                            <a href="#" class="btn
                                {{#if limayeIsLoaded}}
                                    delete_limaye200_tables btn-outline-danger
                                {{else}}
                                    load_limaye200_tables btn-outline-primary
                                {{/if}}">
                                {{#if limayeIsLoaded}}Delete{{else}}Load{{/if}} Limaye200 Gold Standard tables
                                {{#if isLoadingGS 'Limaye200'}}
                                    <div class="loading">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                {{/if}}
                            </a>
                            
                            or

                            <a href="#" class="btn btn-outline-primary load_round2_tables">
                              Load Challenge Round2 tables
                                {{#if isLoadingGS 'Round2'}}
                                    <div class="loading">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                {{/if}}
                            </a>


                        </div>

                        <form id="form">
                            <div class="form-group material">
                                <input type="text" id="name" class="form-control" name="name"
                                       required>
                                <label for="name" >Table name</label>
                                <!--placeholder="Insert a document identifier.."-->
                            </div>

                            <div class="form-group material file {{#if unvalidfile}}error{{/if}}">

                                <input type="file" id="file" name="file" accept=".json" required>
                                <label for="file">Insert a JSON file</label>
                                {{#if unvalidfile}}
                                    {{> updatefile}}
                                {{/if}}

                            </div>

                            <div class="form-group dropdown material">
                                <select id="goldStandard" class="form-control selectpicker" required>
                                    <option class="first"></option>
                                    <option value="none">No one</option>
                                    <option value="t2d">T2D</option>
                                    <option value="limaye">Limaye200</option>
                                    <option value="CTAround1">CTA round 1</option>
                                    <option value="CPAround1">CPA round 1</option>
                                    <option value="CEAround1">CEA round 1</option>
                                </select>
                                <label for="goldStandard">Gold Standard</label>
                            </div>

                            <button type="submit" id="submit" class="btn btn-primary">Submit
                                <!--<span class="glyphicon glyphicon-share-alt"></span>-->
                            </button>


                        </form>

                        {{#if validfile}}
                            {{> controlfile}}
                        {{/if}}
                    </div>
                </div>

                <div class="col col-md-6 background">

                    <h3>File types supported</h3>

                    <p>
                        At the moment, Mantistable only supports tables in <strong>JSON</strong> format.</p>


                    <p>JSON (JavaScript Object Notation) is a standard text-based
                        format for representing structured data based on JavaScript object syntax.</p>


                    <pre id="pre">
<strong>JSON example</strong>
[
  {
    "MOUNTAIN": "Mount Everest",
    "HEIGHT IN METERS": "8,848",
    "RANGE": "Himalayas",
    "CONQUERED ON": "May 29, 1953",
    "COORDINATES": "27.98785, 86.92502609999997",
    "URL": "https://en.wikipedia.org/wiki/Mount_Everest"
  },
  {
    "MOUNTAIN": "K-2 (Godwin Austin)",
    "HEIGHT IN METERS": "8,611",
    "RANGE": "Karakoram",
    "CONQUERED ON": "July 31, 1954",
    "COORDINATES": "35.8799875,76.51510009999993",
    "URL": "https://en.wikipedia.org/wiki/K2"
  },
  {
    "MOUNTAIN": "Kanchenjunga",
    "HEIGHT IN METERS": "8,597",
    "RANGE": "Himalayas",
    "CONQUERED ON": "May 25, 1955",
    "COORDINATES": "27.7024914,88.14753500000006",
    "URL": "https://en.wikipedia.org/wiki/Kangchenjunga"
  }
]                    </pre>


                    <p>

                        If your data is in a different format, you have to convert it first. </p>
                    <p>Some tools you can use: </p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>CSV to JSON</th>
                            <th>HTML to JSON</th>
                            <th>Excel to JSON</th>


                        </tr>

                        </thead>

                        <tbody>

                        <tr>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://www.csvjson.com/csv2json" target="_blank">
                                            www.csvjson.com
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://www.convertcsv.com/csv-to-json.htm" target="_blank">
                                            www.convertcsv.com
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://tools.fromdev.com/table-to-json-converter.html"
                                           target="_blank">
                                            tools.fromdev.com
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://convertjson.com/html-table-to-json.htm" target="_blank">
                                            www.convertjson.com
                                        </a>
                                    </li>

                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://codebeautify.org/excel-to-json" target="_blank">
                                            www.codebeautify.org
                                        </a>
                                    </li>


                                </ul>
                            </td>

                        </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
</template>

<template name="controlfile">
    <div class="alert alert-success" role="alert">
        TABLE INSERT CORRECTLY
    </div>
</template>

<template name="updatefile">
    <div class="error-message">
        Insert correct file
    </div>
</template>