/*****************************************************************************/
/* CreateTables: Style */
/*****************************************************************************/

#create-tables {
    margin: -5px;
}


@media (min-width: 992px) {
    #create-tables .container-fluid > .row > .col {

        min-height: calc(100vh - 50px - 8px);
        height: calc(100vh - 50px - 8px);
        overflow-y: auto;
    }
}

#create-tables .container-fluid > .row {
    display: flex;
    flex-flow: row wrap;

}

#create-tables .background {
    background-color: #d2d6de;
}

#create-tables .background p,
#create-tables .background ul {
    font-size: 16px;
}

#create-tables .background a {
    color: #00a65a;
}

#create-tables .background a:hover {
    color: #008d4c;
}

#create-tables #pre {
    font-size: 11px;
}

#create-tables .container-form {
    padding: 30px;
}

#create-tables h1 {
    text-align: center;
    margin-bottom: 20px;
}

#create-tables .alert-success {
    margin-top: 50px;
    color: #3c763d !important;
    background-color: #bce1b2 !important;
    border-color: #9cc790 !important;
    text-align: center;
}

#create-tables table,
#create-tables table th {
    text-align: center;
}

#create-tables #form {
    max-width: 350px;
    margin: auto;
}


#form #submit {
    width: 100%;
    border-radius: 0;

}


#create-tables .loadGS {
    font-size: 18px;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 40px;

}

#create-tables .loadGS:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background: #1c292e;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

}

#create-tables .loadGS .btn {
    margin-bottom: 6px;
    position: relative;
}


#create-tables .loadGS .btn .loading {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    background: rgba(236, 240, 245, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}
