<template name="changelog">
    <div id="changelog">
        <h1>Changelog</h1>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            1.1 - 04-11-2019
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li>Improved loading times for table list (3x-4x)</li>
                            <li>Changed DBpedia endpoint: now MantisTable uses a local version of DBpedia</li>
                            <li>Adjusted concept scores for better annotation results</li>
                            <li>New filter: it allows to find tables by status (completed, in progress, not precessed)</li>
							<li>Improvements for <a target="_blank" href="https://www.cs.ox.ac.uk/isg/challenges/sem-tab/">Semantic Web Challenge on Tabular Data to Knowledge Graph Matching</a></li>
							<li>Overall performance improvement: process the whole 434 tables (t2d+limaye200) in around 3 hours instead of around 11hours</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            1.0 - 03-20-2019
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    
                </div>
            </div>
        </div>

    </div>
</template>
