<template name="listTables">

    {{#if hasTables}}
        {{>loadTables}}
    {{else}}
        {{>startedSuggestion}}
    {{/if}}

</template>

<template name="loadTables">

    <div class="table-responsive no-padding">
        <table id="list-table" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="globalStatus">&nbsp;</th>
                <th class="table-name">
                    Name
                    <div class="search">
                        <form role="search">
                            <div class="form-group material condensed">
                                <input type="text" id="search" class="form-control search-bar"
                                       name="search" required>
                                <label for="search">Search by table name</label>
                                <i class="fas fa-times btn-cancel"></i>
                            </div>
                        </form>
                    </div>
                </th>
                <th class="table-gs">Gold Standard
                    <div class="form-group dropdown material condensed">
                        <select id="goldStandard" class="form-control selectpicker" required>
                            <option></option>
                            <option value="none">No one</option>
                            <option value="T2Dv2">T2D</option>
                            <option value="Limaye200">Limaye200</option>
                            <option value="CTAround1">CTA round 1</option>
                            <option value="CPAround1">CPA round 1</option>
                            <option value="CEAround1">CEA round 1</option>
                        </select>
                        <label for="goldStandard">Gold Standard</label>
                    </div>
                </th>
                <th class="table-date">Insert date</th>
                <th class="table-date">Last Edit</th>
                <th class="table-status">
                    Status
                    {{>filter}}
                </th>
                <th class="table-time">Execution Time</th>
                <th class="table-buttons">
                    Actions
                    <div>
                        <div class="btn-group">
                            <a id="deletAll" class="btn btn-danger btn-sm"
                               data-toggle="modal" data-target="#modal-delete"
                            >
                                <i class="fa fa-trash"></i>
                                <span>Delete all</span>
                            </a>
                            <a id="processAll" class="btn btn-primary btn-sm">
                                <i class="fa fa-cogs"></i>
                                <span>Process all</span>
                            </a>

                        </div>
                    </div>

                </th>
            </tr>
            </thead>
            <tbody>
            {{#each tables}}
                <tr>
                    <td class="globalStatus {{globalStatus}}
                        {{hasDoingProcess}}">
                    </td>
                    <td class="table-name"><strong>{{name}}</strong></td>
                    <td class="table-gs">

                        {{#each typeGS}}
                            <span class="block bold">
                                {{formatting this}}
                            </span>
                        {{/each}}

                    </td>
                    <td class="table-date">{{formatDate date}}</td>
                    <td class="table-date">{{formatDate lastEditDate}}</td>

                    <td>
                        {{#each statusProcess}}
                            <span class="status">
                                <i class="fa fa-{{status}}"></i> {{process}}
                            </span>
                        {{/each}}
                    </td>

                    <td class="table-time">
                        {{time}} <span class="text-small">min</span>
                    </td>

                    <td class="table-buttons">
                        <div class="btn-group">
                            {{#linkTo route='editTable' class="btn btn-secondary btn-xs"}}
                                <i class="glyphicon glyphicon-edit"></i>
                                <span>Edit</span>{{/linkTo}}
                            {{#linkTo route='startingTable' class="btn btn-primary btn-xs"}}
                                <i class="glyphicon glyphicon-cog"></i>
                                <span>Show</span>{{/linkTo}}
                        </div>

                    </td>
                </tr>

            {{/each}}
            </tbody>
        </table>
        {{#if moreResults}}
            <div id="showMoreResults" class="text-center">
                <i class="fa fa-spinner fa-pulse  fa-fw"></i>
            </div>
        {{/if}}
        {{#if noResults}}
            <div class="text-center">
                No tables found.
            </div>
        {{/if}}
    </div>
    {{>alertDelete}}
</template>

<template name="startedSuggestion">

    <div class="no-tables">
        <span class="bigger-intro">No tables loaded.</span>

        <span class="block">
            You can start
            <div>
                {{#linkTo route='createTables' class="btn btn-primary"}}
                    uploading some tables
                {{/linkTo}}
            </div>
        </span>

    </div>

</template>

<template name="filter">
    <div class="filter-wrapper">
        <div class="filter btn-group btn-group-sm">
            <div class="btn todo"></div>
            <div class="btn doing"></div>
            <div class="btn done"></div>
        </div>
    </div>
</template>

<template name="alertDelete">
    <div class="modal modal-danger fade" id="modal-delete" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Do you really want to delete all tables?</h4>
                </div>
                <div class="modal-body">
                    <p>All data will be erased. This cannot be undone. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteAll" class="btn btn-outline pull-right" data-dismiss="modal">
                        Delete!
                    </button>
                </div>

            </div>
        </div>
    </div>
</template>