<template name="masterLayout">

    {{#AdminLTE skin="green" fixed="true"}}
        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            {{#linkTo route="tablesList" class="logo"}}
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    <strong>MT</strong>
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <strong>Mantis</strong>table
                </span>
            {{/linkTo}}

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top flex align-middle" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" role="button"><!--data-toggle="push-menu"-->
                    <span class="panel-icon"> </span>
                </a>

                {{#with currentTable}}
                    <ul class="tableInfo ">
                        <li class="name" title="{{tableName}}">{{tableName}}</li>
                        <li class="stats">
                            <span class="number">{{stats.col}}</span>
                            <span class="description">columns</span>
                        </li>
                        <li class="stats">
                            <span class="number ">{{stats.row}}</span>
                            <span class="description">rows</span>
                        </li>

                        {{#if typeGS}}
                            <li class="stats ">
                                <span class="number smaller" title="{{typeGS}}">
                                    {{#each typeGS}}
                                        <span>{{formatting this}}</span>
                                    {{/each}}
                                </span>

                                <span class="description ">Gold Standard</span>
                            </li>
                        {{/if}}

                        {{#if isCurrentPath 'process'}}
                            {{#unless isCurrentRoute 'startingTable;editAnnotations'}}
                                <li class="runningTime stats">
                                    <span class="number">{{timeToProcess}} </span>
                                    <span class="description">Time to process</span>
                                </li>
                            {{/unless}}
                        {{/if}}


                    </ul>

                    {{#if isCurrentPath 'process'}}

                        <div class="buttons">
                            {{#unless isCurrentRoute 'startingTable;editAnnotations'}}
                                <button type="button" class="btn btn-secondary btn-sm tiny rerun"
                                        disabled="{{disabledReset}}"
                                        title="
                            {{#if disabledReset}}
                            A process is currently running. Please wait.
                            {{else}}
                            Run again this step
                            {{/if}}">
                                    Run again
                                </button>
                            {{/unless}}

                            {{#unless isCurrentRoute 'editAnnotations'}}
                                <button type="button" class="btn alert-danger btn-sm tiny reset"
                                        disabled="{{disabledReset}}"
                                        title="
                            {{#if disabledReset}}
                            A process is currently running. Please wait.
                            {{else}}
                             Reset entire process
                            {{/if}}">
                                    Reset
                                </button>
                            {{/unless}}
                        </div>
                    {{/if}}

                {{/with}}

                {{#unless currentTable}}
                    <ul class="tableInfo ">
                        <li class="stats">
                            <span class="number">{{tablesInfo.tablesTot}}</span>
                            <span class="description">tables</span>
                        </li>
                        <li class="stats">
                            <span class="number">{{tablesInfo.tablesDone}}</span>
                            <span class="description">tables completed</span>
                        </li>
                        <li class="stats">
                            <span class="number">{{tablesInfo.tablesDoing}}</span>
                            <span class="description">tables in progress</span>
                        </li>

                    </ul>

                {{/unless}}

            </nav>

        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu tree">
                    <li class="treeview {{#if isCurrentRoute 'tablesList'}}active{{/if}}">
                        {{#linkTo route='tablesList'}}
                            <i class="fas fa-table"></i>
                            <span>List tables</span>
                        {{/linkTo}}


                    </li>


                    <li class="treeview {{#if isCurrentRoute 'createTables'}}active{{/if}}">
                        {{#linkTo route='createTables' id="work"}}
                            <i class="fas fa-plus"></i>
                            <span>Insert table</span>
                        {{/linkTo}}
                    </li>

                    <li class="treeview {{#if isCurrentRoute 'changelog'}}active{{/if}}">
                        {{#linkTo route="changelog"}}
                            <i class="far fa-file-alt"></i>
                            <span>Changelog</span>
                        {{/linkTo}}
                    </li>

                    <li class="treeview" data-toggle="modal" data-target="#previewModal">
                        <a href="#" id="download_ann_complete">
                            {{#if annotationIsNotComplete}}
                                <div class="fa-layers fa-fw">
                                    <i class="fas fa-download"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-eye"></i>
                                </div>
                            {{else}}
                                <i class="fa fa-download"></i>
                            {{/if}}
                            <span>Download annotations</span>
                        </a>
                    </li>

                </ul>

                {{#if isCurrentPath 'process'}}
                    {{> MultiStep }}
                {{/if}}

                <!-- /.sidebar -->
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                {{#unless cronMessageIsDismissed}}
                    {{> cronMessage}}
                {{/unless}}

                {{> popup}}

                {{> yield }}

                {{#if error}}

                    <div id="error">
                        An error occurred while processing the request
                    </div>

                {{/if}}


            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <aside class="control-sidebar control-sidebar-light">
            <!-- Content of the sidebar goes here -->
            {{> sidebarRight}}

        </aside>
        <!-- The sidebar's background -->
        <!-- This div must placed right after the sidebar for it to work-->
        <div class="control-sidebar-bg"></div>

    {{/AdminLTE}}

    <footer class="sticky-footer close-console">
        <!--pre-scrollable -->
        <div id="toggle-console" class="button pull">

            <i class="fa fa-terminal" aria-hidden="true"></i>
            Console
            <i class="fa fa-caret-up up-down-arrow" aria-hidden="true"></i>

        </div>

        <div class="scrollable-area">
            {{#each logs}}
                <small>
                    <span class="text-primary">{{formatDate createdAt}}</span> - <span
                        class="text-muted">{{state}}
                    :</span>
                    &ensp;
                    <span class="{{#if type}}{{type}}{{/if}}">{{value}} {{message}}</span>
                </small>
                <br>
            {{/each}}
        </div>

    </footer>

    {{> jsPlugin}}


</template>

<template name="popup">
    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="previewModalTitle">
                        Download annotations
                    </h5>
                </div>
                <div class="modal-body">
                    {{#if annotationIsNotComplete}}
                        <div class="flex">
                            <i class="fas fa-hourglass-half"></i>
                            <div>
                                <p>Annotate all T2D and Limaye200 tables may take several hours. </p>
                                <p> If you want to evaluate the results of MantisTable, you can download
                                    a preview file with all the Gold Standard tables annotated using this tool.
                                </p>


                            </div>
                        </div>
                        <button id="download_preview" type="button" class="btn btn-primary">
                            Download preview
                        </button>
                        <div class="small">
                            <p>
                                Alternatively, you can
                                <a id="download_ann" href="#">download</a>
                                your uncompleted annotations
                                <br/>
                                <br/>
                                or
                                your annotations for the<br/>
                                <a href="https://www.cs.ox.ac.uk/isg/challenges/sem-tab/" class="text-black text-bold"
                                   target="_blank">Semantic Web Challenge on Tabular Data to Knowledge Graph
                                    Matching</a>
                            <div>
                                <a id="CTAround1" href="#" class="btn btn-default btn-sm"><strong>CTA</strong> Round
                                    1</a>
                                <a id="CPAround1" href="#" class="btn btn-default btn-sm"><strong>CPA</strong> Round
                                    1</a>
                                <a id="CEAround1" href="#" class="btn btn-default btn-sm"><strong>CEA</strong> Round
                                    1</a>
                            </div>

                            </p>
                        </div>
                    {{else}}
                        <div class="center">

                            <p>
                                <i class="fas fa-check"></i>
                                You have annotated all T2D and Limaye200 tables.
                            </p>

                            <button id="download_ann" type="button" class="btn btn-primary">
                                Download your GS annotations
                            </button>

                            <div class="small">
                                <br/>
                                or
                                your annotations for the<br/>
                                <a href="https://www.cs.ox.ac.uk/isg/challenges/sem-tab/" class="text-black text-bold"
                                   target="_blank">Semantic Web Challenge on Tabular Data to Knowledge Graph
                                    Matching</a>
                                <div>
                                    <a id="CTAround1" href="#" class="btn btn-default btn-sm"><strong>CTA</strong> Round
                                        1</a>
                                    <a id="CPAround1" href="#" class="btn btn-default btn-sm"><strong>CPA</strong> Round
                                        1</a>
                                    <a id="CEAround1" href="#" class="btn btn-default btn-sm"><strong>CEA</strong> Round
                                        1</a>
                                </div>
                            </div>

                        </div>
                        <div class="small">
                            <p>
                                <br/>
                                Alternatively, you can
                                <a id="download_preview" class="no-style" href="#">download</a>
                                a preview file of Gold Standard annotations
                                <br/>
                                provided by MantisTable.
                            </p>
                        </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</template>

<template name="cronMessage">
    <div class="alert alert-warning alert-dismissible cron " role="alert">

        You can test MantisTable anytime but please note that at 2am CET the database will be restored
        <button type="button" class="btn btn-default " data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">OK</span></button>
    </div>

</template>

<template name="jsPlugin">
    <!--google chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--slim scroll-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
</template>



