/* header top */
.navbar {
    display: flex;
}

.navbar .sidebar-toggle {
    font-size: 14px;
    border-right: 1px solid rgba(255, 255, 255, 0.61);
    padding: 15px 15px 15px 10px !important;
}

.navbar .sidebar-toggle:before {
    content: "" !important;
}

.navbar .panel-icon {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 2px;
    margin-left: 10px;
    position: relative;
    display: block;
    box-sizing: unset;
}

.navbar .panel-icon:before {
    content: "";

    height: inherit;
    background: white;
    position: absolute;
    transition: all .5s;
    box-sizing: inherit;
}

.sidebar-collapse .navbar .panel-icon:before,
.navbar .sidebar-toggle:hover .panel-icon:before {
    left: -7px;
    width: 2px;
}

.navbar .panel-icon:before,
.sidebar-collapse .navbar .sidebar-toggle:hover .panel-icon:before {
    left: 0;
    width: 35%;
}

.main-header {
    z-index: 1001;
}

/*table info on header*/
.tableInfo {
    margin: 0 30px 0 0;
    list-style: none;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    color: #1c292e;
    padding: 0;
}

.tableInfo li {
    padding: 0 10px;
}

.tableInfo .name {
    font-size: 18px;
    font-style: italic;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tableInfo .stats {
    text-align: center;
}

.tableInfo .number,
.tableInfo .description {
    display: block;
    line-height: 1;
}

.tableInfo .number {
    font-weight: bold;
    font-size: 22px;
}

.tableInfo .number span:not(:last-child):after{
    content: '/';
    padding: 0 1px 0 3px ;
}


.tableInfo .number.smaller {
    font-size: 18px;
    padding: 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.tableInfo .description {
    font-size: 12px;
}


.table-utils {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.tableInfo li,
.navbar-nav .item a {
    transition: all .1s;
    transition-delay: .2s;
}

.navbar .buttons {
    margin-left: auto;
    margin-right: 20px;
}


/*content*/
.content {
    padding: 5px !important;
    min-height: calc(100vh - 50px - 8px) !important;
    height: calc(100vh - 50px - 8px) !important;
    position: relative;
}

.content.noFixedHeight {
    min-height: unset !important;
    height: unset !important;
}

.content.noConsole {
    min-height: calc(100vh - 50px) !important;
}

/* sidebar left*/
.sidebar {
    margin-top: 5px;
    padding-bottom: 20px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.main-sidebar {
    z-index: 1000 !important;
    /*display: flex;*/


}

.sidebar .sidebar-menu.tree:after {
    content: "";
    width: 90%;
    height: 1px;
    background: rgba(255, 255, 255, .3);
    display: block;
    margin-top: 5px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.sidebar .treeview .btn {
    text-align: left;
}

.sidebar .treeview .with-text {
    position: relative;
    left: -10px;
}

.sidebar .treeview .with-text span {
    font-size: 9px;
    text-transform: uppercase;
    font-family: sans-serif;
    position: absolute;
    top: 75%;
    left: 60%;
}

.sidebar .treeview #download_ann_complete .fa-layers {
    display: inline-block;
    position: relative;
    left: -4px;
    animation: buzz;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all .2s;

}

.sidebar .treeview #download_ann_complete .fa-file-download {
    font-size: 17px;
}

.sidebar .treeview #download_ann_complete .fa-circle {
    color: tomato;
    font-size: 6px;
    position: absolute;
    left: -1px;
    top: -1px;
}

.sidebar .treeview #download_ann_complete .fa-eye {
    font-size: 10px;
    position: absolute;
    right: -5px;
    bottom: -3px;
    text-shadow: -2px 0 #1d292f, 0 2px #1d292f, 2px 0 #1d292f, 0 -2px #1d292f;
}


.control-sidebar {
    z-index: 999 !important;
}

.control-sidebar-bg {
    z-index: 998 !important;
}

@keyframes buzz {
    0% {

        transform: rotate(0deg);
    }
    4% {
        transform: rotate(10deg);


    }
    8% {
        transform: rotate(-10deg);
    }
    12% {
        transform: rotate(10deg);

    }

    16% {
        transform: rotate(-10deg);

    }

    20% {
        transform: rotate(10deg);
    }

    24% {
        transform: rotate(-10deg);
    }

    28% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

/* footer console */
.no-console.sticky-footer {
    display: none;
}


.sticky-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150px;
    background-color: #1f292d;
    color: #fff;
    border-top: 1px solid #d2d6de;
    transition: height .2s;
    z-index: 999;
}

.sticky-footer.close-console {
    height: 8px;
}

.sidebar-collapse .sticky-footer.open-console {
    padding: 20px 10px 10px 60px;
}

.sticky-footer.open-console {
    height: 150px;
    padding: 20px 10px 10px 240px;

}

.sticky-footer .scrollable-area {
    overflow-y: hidden;
    height: 100%;
    word-wrap: break-word;
}

.sticky-footer.open-console .scrollable-area {
    overflow-y: auto;

}

.sticky-footer .button.pull {
    background-color: #1f292d;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    width: auto;
    position: absolute;
    right: 30px;
    bottom: 100%;
    z-index: 851;
    padding: 5px 8px;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

.sticky-footer .button.pull i {
    color: white;
}

.sticky-footer .button.pull .up-down-arrow {
    margin-left: 10px;
}


/*error*/
#error {
    background: #11181b;
    opacity: .8;
    color: white;
    padding: 2px 5px;
    font-size: 13px;
    position: fixed;
    bottom: 15px;
    left: 60px;
    border-radius: 3px;
    z-index: 9999999;
}


/*hide element when tables are loading*/
.hideContent .table-responsive {
    opacity: 0;
}

.modal-title {

    font-weight: bold;
    font-size: 22px;
}

.modal-content {
    font-size: 18px;
}

.modal-title,
.modal-content,
.modal-footer {
    text-align: center;
}

.modal-body {
    padding: 2rem 3rem;

}

.modal-body .flex {
    align-items: center;
    text-align: left;
}

.modal-content i {
    font-size: 7rem;
    color: rgba(3, 7, 9, 0.46);
    margin-right: 15px;
}

.modal-content i.fa-check {
    font-size: 5rem;
    vertical-align: sub;
}

.modal #download_preview:not(.no-style) {
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0 30px;
    display: inline-block;
}

.modal a {
    color: #00a65a;
}

.modal a:hover,
.modal a:active,
.modal a:focus {
    color: #008d4c;
}

.modal .small {
    font-style: italic;
}

.modal .small .btn {
    margin-top: 10px;
}

.alert.cron {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999999;
    left: 0;
    color: black !important;
    text-align: center;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 10px;
}


.alert.cron .btn {
    margin-left: 20px;
}