<template name="home">

    <div id="home">


        <div class="header">
            <div class="wrapper">
                <img src="/img/mantis.png" class="logo"/>

                <h1 class="title"><span class="bold">Mantis</span>Table</h1>
                <div class="subhead">Semantic Table Interpretation</div>

                <!--<div class="center">-->
                    <!--{{#linkTo route="tablesList" class="btn"}}-->
                        <!--Try it now-->
                    <!--{{/linkTo}}-->
                <!--</div>-->
            </div>


        </div>


        <div class="features">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="preview">
                            <img src="/img/Preview.png"/>
                        </figure>
                    </div>
                    <div class="col-xs-12 "> <!--grid-3-->
                        <div class="feature">
                            MantisTable is a tool based on a <strong> fully automated approach </strong> for a
                            <br>
                            complete <em>Semantic Table Interpretation</em> process.
                            <br>
                            It deals with annotating each element of a table
                            <br>
                            and allow to visually explore each phase of the whole process.

                            <div class="center">
                                {{#linkTo route="tablesList" class="btn"}}
                                    Start now to annotate
                                {{/linkTo}}
                            </div>
                        </div>
                        <!--<div class="feature">-->
                        <!--<div class="feature-title">Fully <br><strong>automated</strong></div>-->
                        <!--<div class="feature-description">-->
                        <!--MantisTable implements a-->
                        <!--fully automated approach:-->
                        <!--annotate your tables with semantics-->
                        <!--without needing of-->
                        <!--any manual operation.-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feature">-->
                        <!--<div class="feature-title"><strong>Easy</strong> <br>to use</div>-->
                        <!--<div class="feature-description">-->
                        <!--MantisTable is easy to use:-->
                        <!--upload your tables, run the process-->
                        <!--and download the results. Done!-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feature">-->
                        <!--<div class="feature-title">Freely <br><strong>explorable</strong></div>-->
                        <!--<div class="feature-description">-->
                        <!--MantisTable allows to freely explore each sub-phases of the whole process:-->
                        <!--analyse what you want, when you need it, as often as you wish.-->
                        <!--</div>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">

                        <div class="unimib flex">

                            <div class="disco">
                                <a href="https://www.disco.unimib.it/it" target="_blank" title="Visit DISCo website">
                                    <img src="/img/disco.png">
                                </a>

                            </div>

                            <div class="lab">
                                <a href="http://inside.disco.unimib.it/" target="_blank"
                                   title="Visit Insid&s LAB website">
                                   <span class="title">
                                       Insid&s<br/>
                                        LAB
                                    </span>
                                    <span class="text">

                                        Dipartimento di Informatica, Sistemistica e Comunicazione <br/>
                                        Università degli Studi di Milano-Bicocca <br/>
                                        Viale Sarca, 336 - 20126, Milano | tel. 02 6448 7801
                                    </span>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="bitbucket col-xs-12">
                        <a href="https://bitbucket.org/disco_unimib/mantistable-tool/" target="_blank" title="Visit Bitbucket">
                                <span class="logo-sm">
                                    <img src="/img/bitbucket.png"/>
                                </span>
                            <span class="text">
                                        Bitbucket
                                </span>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </div>


</template>
