<template name="EntityLinking">

    {{#if validfile}}

        {{#with handsontablewrapper_processed}}

            <div class="entityLinking">
                {{> displayHot }}
            </div>

        {{/with}}
    {{else}}

        {{#with handsontablewrapper_notprocessed}}
            {{> displayHot }}
        {{/with}}
        {{#with processStatus}}
            {{> tableStatus}}
        {{/with}}
    {{/if}}

</template>