/*.loading {*/
    /*text-align: center;*/
    /*margin-top: 20px;*/
/*}*/

/*.loading img {*/
    /*max-width: 120px;*/
    /*display: block;*/
    /*margin: auto;*/
/*}*/

.loading{
    text-align: center;
    margin: 30px;
}

.loading span{
    display: block;
    margin: 10px auto auto;
}